<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USERS PAGE</title>
    <link rel="stylesheet" href="{% static '/css/mystyle.css' %}">
</head>
<body>
    <h1>Hi, welcome !</h1>
    <h2>Here are the users information</h2>
    <div class="djangotwo">
        {% if users %}
            <table>
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </thead>
                {% for user in users %}
                <tr>
                    <td>{{ user.first_name}}</td>
                    <td>{{ user.last_name}}</td>
                    <td>{{ user.email}}</td>
                </tr>
            {% endfor %}
            </table>
            {% else %}
                <p>NO USERS FOUND!</p>
        {% endif %}

    </div>
</body>
</html>